<!-- Main Search of Admission Report -->

<link rel="stylesheet" href="/css/ad_report.css">
<div class="main">
    <div>
        <% if (typeof options !== 'undefined' && options.length > 0) { %>
            <form action="/report_dept" method="post"  class="search_option">    
                <div class="dept_search">
                        <h2>Course Selection</h2>
                        <select name="dept">
                            <option value="default" selected disabled hidden>Choose a course...</option>
                            <% options.forEach(function(option) { %>
                                <option value="<%= option.title %>"><%= option.title %></option>
                            <% }); %>
                        </select>
                    <button type="submit">search</button>
                </div>
            </form>
            <form action="/report_date" method="post">
                <div class="date_search">
                    <h2>Date selection</h2> 
                    <input type="date" name="date" id="date">
                    <button type="submit">Search</button>
                </div>
            </form>
            <% } %>    
            
    </div>
   
<!-- <style>
    table,th,td{
        border: 1px solid;
        padding: 10px;
        
    }
    table{
        border-collapse: collapse;
        padding: 10px;
    }
</style> -->