
<form action="/update_limit" method="POST">
    <label for="newLimit">New Limit:</label>
    <input type="number" id="newLimit" name="newLimit" required >
    <button type="submit">Update Limit</button>
</form>
    
<h1>Admin page</h1>
<form action="/add_course" method="post">
    <label for="course">Course Title:</label>
    <input type="text" name="course" id="courseTitle" required>

    <label for="fees">Fees:</label>
    <input type="text" name="fees" id="fees" required>

    <label for="key">Course Key:</label>
    <input type="text" name="key" id="key" required>

    <input type="submit" value="Submit">
</form>
<a href="/sign_up">Add New User</a>
