<form action="/date_cancel_reports" method="post">
    <label for="date">Date</label>
    <input type="date" id="date" name="date">
    <button type="submit">Get Report</button>
</form>

<% if (typeof fullDate != 'undefined') { %>
  <% if (fullDate == 'no data') { %>
    <br>
    <h2>User not Found</h2>
  <% } else { %>
    <table border="2" style="border-collapse: collapse;">
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>User Id</th>
      </tr>
      <% fullDate.forEach(function(item) { %>
        <tr>
          <td><%= item ? item.s_name : "no name" %></td>
          <td><%= item ? item.cname : "no name" %></td>
          <td><%= item ? item.uid : "no name" %></td>
        </tr>
      <% }); %>
    </table>
  <% } %>
<% } else { %>
  <h2>Without data</h2>
<% } %>
