<h2>Sign up form</h2>
<title>GASC ADMISSION</title>
<form action="/signup_data" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
    </div>
    
    <div>
        <label for="cpassword">conform Password:</label>
        <input type="password" id="cpassword" name="cpassword" required><br><br>
    </div>
    <button type="submit">Submit</button>
</form>